<app-silver-headers></app-silver-headers>
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference
<div style="height: 50px"></div>
<app-silver-plate></app-silver-plate>
<div style="margin-top: -15px; height: 10px; width: 500px; background: white"></div>
<div style="height: 50px"></div>
<app-silver-plate></app-silver-plate>
<div style="margin-top: -15px; height: 10px; width: 500px; background: white"></div>
<div style="height: 50px"></div>
<app-silver-plate></app-silver-plate>
<div style="margin-top: -15px; height: 10px; width: 500px; background: white"></div>
<div style="height: 50px"></div>
<app-silver-plate></app-silver-plate>
<div style="margin-top: -15px; height: 10px; width: 500px; background: white"></div>
<div style="height: 50px"></div>
<app-silver-plate></app-silver-plate>
<div style="margin-top: -15px; height: 10px; width: 500px; background: white"></div>
<div style="height: 50px"></div>
<app-silver-plate></app-silver-plate>
<div style="margin-top: -15px; height: 10px; width: 500px; background: white"></div>
<div style="height: 50px"></div>
<app-silver-plate></app-silver-plate>
<div style="margin-top: -15px; height: 10px; width: 500px; background: white"></div>
<div style="height: 50px"></div>
<app-silver-plate></app-silver-plate>
<div style="margin-top: -15px; height: 10px; width: 500px; background: white"></div>
